h1 {
    Color: brown; /*Esto es para cambiar color de texto*/
    margin:0px;
    padding: 10px;
    width: 100%;
    text-align: center; /* Esto es para acomodar la alineacion del texto */
    font-family:'Times New Roman', Times, serif /* Esto modifica la fuente */
}

body {
    background-color: #FAF2E6; /* Cambia el color del fondo de la pagina */
    margin:0px; /* Cambia los margenes de toda la pagina */
    padding: 0px; /* Cambia el espacio entre el margen y el borde */
}

nav {
    margin: 40px;
    padding: 10px;
    width: 120px;
    text-align: center;
    position: absolute;
    right:0;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.prueba-parrafo {
    text-align:center;
    font-size: larger;
}
